@reference "./app.css";

@layer components {
  [data-rehype-pretty-code-figure] {
    background-color: var(--color-code);
    color: var(--color-code-foreground);
    border-radius: var(--radius-2xl);
    border-width: 0px;
    border-color: var(--border);
    margin-top: calc(var(--spacing) * 6);
    overflow: hidden;
    font-size: var(--text-sm);
    outline: none;
    position: relative;
    @apply -mx-1 md:-mx-1;

    &:has([data-rehype-pretty-code-title]) [data-slot="copy-button"] {
      top: calc(var(--spacing) * 1.5) !important;
    }
  }
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-figure] [data-line] span {
  color: var(--shiki-light);

  @variant dark {
    color: var(--shiki-dark);
  }
}

[data-rehype-pretty-code-figure] [data-highlighted-line],
[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  background-color: var(--color-code-highlight);
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-2;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  @apply text-xs;
  color: var(--color-code-number);
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-title] {
  border-bottom: 1px solid color-mix(in oklab, var(--border) 30%, transparent);
  padding-block: calc(var(--spacing) * 2.5);
  padding-inline: calc(var(--spacing) * 4);
  font-size: var(--text-sm);
  font-family: var(--font-mono);
  color: var(--color-code-foreground);
}
